{{!-- Captain: Conditions Panel --}}
{{#if captainCtx.hasAnyCondition}}
<div class="sheet-list">
    <div class="list-header row-content">
        <div class="list-name">{{localize "SHIPCOMBAT.Captain.Conditions"}}</div>
    </div>
    <div class="list-content">
        {{#each captainCtx.conditionsList}}
        {{#if hasCondition}}
        <div class="list-row shipcombat-crit-row {{tierClass}}" data-loc-id="{{locId}}" data-tooltip='{{conditionEffect}}'>
            <div class="row-content">
                <div class="list-name">
                    <span class="shipcombat-crit-location">{{locLabel}}</span>
                    <span class="shipcombat-crit-name">{{conditionName}}</span>
                </div>
                <div class="shipcombat-crit-tier-badge {{tierClass}}">{{tierLabel}}</div>
                <div class="list-controls">
                    <button type="button"
                            data-action="captainTriage"
                            data-loc-id="{{locId}}"
                            {{#unless canTriage}}disabled{{/unless}}
                            data-tooltip="{{triageName}}">
                        <i class="fa-solid fa-wrench"></i>
                    </button>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>
{{/if}}
