{{!-- Engineer: Hull Repair --}}
<div class="sheet-list shipcombat-role-section">

    {{#unless engineerCtx.repairSelected}}
    <div class="shipcombat-section-overlay{{#if (shipcombatOr (shipcombatNot engineerCtx.canRepairHull) (shipcombatEq engineerCtx.actionsRemaining 0))}} shipcombat-section-overlay--taken{{/if}}">
        {{#if engineerCtx.hasInternalFire}}
            <div class="shipcombat-overlay-lock-indicator">
                <i class="fa-solid fa-fire fa-lg"></i>
                <span>{{localize "SHIPCOMBAT.Warning.RepairBlockedByFire"}}</span>
            </div>
        {{else if (shipcombatNot engineerCtx.hasBankedCores)}}
            <div class="shipcombat-overlay-lock-indicator">
                <i class="fa-solid fa-lock fa-lg"></i>
                <span>{{localize "SHIPCOMBAT.Engineer.RequiresBankedCore"}}</span>
            </div>
        {{else if engineerCtx.hullFull}}
            <div class="shipcombat-overlay-lock-indicator">
                <i class="fa-solid fa-check fa-lg"></i>
                <span>{{localize "SHIPCOMBAT.Engineer.HullFull"}}</span>
            </div>
        {{else if (shipcombatEq engineerCtx.actionsRemaining 0)}}
            <div class="shipcombat-overlay-lock-indicator">
                <i class="fa-solid fa-ban fa-lg"></i>
                <span>{{localize "SHIPCOMBAT.Engineer.ActionTakenDesc"}}</span>
            </div>
        {{else}}
        <button type="button" class="shipcombat-section-overlay-btn" data-action="selectAction" data-action-type="repair">
            {{localize "SHIPCOMBAT.Engineer.HullRepair"}}
        </button>
        {{/if}}
    </div>
    {{/unless}}

    <div class="list-header row-content">
        <div class="list-name">{{localize "SHIPCOMBAT.Engineer.HullRepair"}}</div>
        <div class="shipcombat-hull-status">
            <span class="shipcombat-hull-value">{{engineerCtx.hullDisplayValue}} / {{engineerCtx.hullMax}}</span>
            <div class="shipcombat-hull-bar-track">
                <div class="shipcombat-hull-bar-fill" style="width: {{engineerCtx.hullPct}}%"></div>
            </div>
        </div>
    </div>
    <div class="list-content">
        <div class="shipcombat-eng-action-row">
            <p class="shipcombat-eng-action-desc">{{localize "SHIPCOMBAT.Engineer.HullRepairDesc"}}</p>
            <div class="shipcombat-eng-action-ctrl">
                <button type="button" class="shipcombat-alloc-btn" data-action="adjustRepairPlasma" data-delta="-1"
                        {{#unless engineerCtx.canRepairHull}}disabled{{/unless}}>&minus;</button>
                <span class="shipcombat-core-alloc-count">{{engineerCtx.repairPlasmaStaged}}</span>
                <button type="button" class="shipcombat-alloc-btn" data-action="adjustRepairPlasma" data-delta="1"
                        {{#unless engineerCtx.canRepairHull}}disabled{{/unless}}>+</button>
            </div>
            <button type="button" class="shipcombat-eng-confirm" data-action="repairHull"
                    {{#unless engineerCtx.canRepairHull}}disabled{{/unless}}>
                {{localize "SHIPCOMBAT.Engineer.Execute"}}
            </button>
        </div>
    </div>
</div>
