{{!-- Engineer: Fire Suppression --}}
<div class="sheet-list shipcombat-role-section">

    {{#unless engineerCtx.fireSelected}}
    <div class="shipcombat-section-overlay{{#if (shipcombatOr (shipcombatNot engineerCtx.hasBankedCores) (shipcombatEq engineerCtx.actionsRemaining 0))}} shipcombat-section-overlay--taken{{/if}}">
        {{#if (shipcombatNot engineerCtx.hasBankedCores)}}
            <div class="shipcombat-overlay-lock-indicator">
                <i class="fa-solid fa-lock fa-lg"></i>
                <span>{{localize "SHIPCOMBAT.Engineer.RequiresBankedCore"}}</span>
            </div>
        {{else if (shipcombatEq engineerCtx.actionsRemaining 0)}}
            <div class="shipcombat-overlay-lock-indicator">
                <i class="fa-solid fa-ban fa-lg"></i>
                <span>{{localize "SHIPCOMBAT.Engineer.ActionTakenDesc"}}</span>
            </div>
        {{else}}
        <button type="button" class="shipcombat-section-overlay-btn" data-action="selectAction" data-action-type="fire">
            {{localize "SHIPCOMBAT.Engineer.FireSuppression"}}
        </button>
        {{/if}}
    </div>
    {{/unless}}

    <div class="list-header row-content">
        <div class="list-name">{{localize "SHIPCOMBAT.Engineer.FireSuppression"}}</div>
    </div>
    <div class="list-content">
        <div class="shipcombat-eng-action-row">
            <p class="shipcombat-eng-action-desc">{{localize "SHIPCOMBAT.Engineer.SuppressFireDesc"}}</p>
            <div class="shipcombat-eng-action-ctrl">
                <button type="button" class="shipcombat-alloc-btn" data-action="adjustFireCores" data-delta="-1"
                        {{#if (shipcombatOr (shipcombatNot engineerCtx.hasInternalFire) (shipcombatNot engineerCtx.hasBankedCores))}}disabled{{/if}}>&minus;</button>
                <span class="shipcombat-core-alloc-count">{{engineerCtx.fireCoresStaged}}</span>
                <button type="button" class="shipcombat-alloc-btn" data-action="adjustFireCores" data-delta="1"
                        {{#if (shipcombatOr (shipcombatNot engineerCtx.hasInternalFire) (shipcombatNot engineerCtx.hasBankedCores))}}disabled{{/if}}>+</button>
            </div>
            <button type="button" class="shipcombat-eng-confirm" data-action="suppressFire"
                    {{#if (shipcombatOr (shipcombatNot engineerCtx.hasInternalFire) (shipcombatNot engineerCtx.hasBankedCores))}}disabled{{/if}}>
                {{localize "SHIPCOMBAT.Engineer.Execute"}}
            </button>
        </div>
    </div>
</div>
