{{!-- Gunner: Status Bar (ammo + heat + power) --}}
<div class="sheet-list shipcombat-role-status-bar">
    <div class="list-header row-content">
        <div class="list-name">{{localize "SHIPCOMBAT.Gunner.StatusTitle"}}</div>
        {{#with (lookup roles "gunner")}}
        {{> "payload-status-badge"
            payloadId=payloadId payloadLabel=payloadLabel payloadDesc=payloadDesc}}
        {{> "core-status-banner"
            coreCount=coreCount coreActionsPlayedLabels=@root.gunnerCtx.coreActionsPlayedLabels hasCoreStaged=hasCoreStaged}}
        {{/with}}
    </div>
    <div class="list-content">
        <div class="shipcombat-role-status-panel">
            <div class="shipcombat-resource-bar-row">
                <span class="shipcombat-resource-bar-label">{{localize "SHIPCOMBAT.Gunner.Ammo"}}</span>
                <div class="shipcombat-resource-bar-track shipcombat-resource-bar-track--plasma">
                    <div class="shipcombat-resource-bar-fill shipcombat-bar-ammo" style="width: {{gunnerCtx.ammoPct}}%"></div>
                </div>
                <span class="shipcombat-resource-bar-value" style="color: #e67e22">{{gunnerCtx.ammo}}/{{gunnerCtx.ammoMax}}</span>
            </div>
            <div class="shipcombat-resource-bar-row">
                <span class="shipcombat-resource-bar-label">{{localize "SHIPCOMBAT.Gunner.Heat"}}</span>
                <div class="shipcombat-resource-bar-track shipcombat-resource-bar-track--heat">
                    <div class="shipcombat-resource-bar-fill-cover" style="width: calc(100% - {{gunnerCtx.heatPct}}%)"></div>
                </div>
                <span class="shipcombat-resource-bar-value" style="color: {{gunnerCtx.heatColor}}">{{gunnerCtx.heat}}/{{gunnerCtx.heatMax}}</span>
            </div>
            <div class="shipcombat-resource-bar-row">
                <span class="shipcombat-resource-bar-label">{{localize "SHIPCOMBAT.Sensors.PowerTrack"}}</span>
                <div class="shipcombat-resource-bar-track shipcombat-resource-bar-track--plasma">
                    <div class="shipcombat-resource-bar-fill shipcombat-bar-charge" style="width: {{gunnerCtx.powerPct}}%"></div>
                </div>
                <span class="shipcombat-resource-bar-value" style="color: #7ec8e3">{{gunnerCtx.power}}/{{gunnerCtx.powerMax}}</span>
            </div>
        </div>
    </div>
</div>
