{{!-- Ordnance: Deployed Ordnance Panel --}}
<div class="sheet-list shipcombat-deployed-ordnance">
    <div class="list-header row-content">
        <div class="list-name">{{localize "SHIPCOMBAT.Ordnance.DeployedOrdnance"}} ({{ordnanceCtx.deployedCount}})</div>
    </div>
    <div class="list-content">
        {{#unless ordnanceCtx.deployedCount}}
        <div class="shipcombat-deployed-empty">
            {{localize "SHIPCOMBAT.Ordnance.NoneDeployed"}}
        </div>
        {{/unless}}

        {{!-- Torpedoes --}}
        {{#each ordnanceCtx.deployedTorpedoes}}
        <div class="shipcombat-deployed-row shipcombat-deployed--torpedo {{#if turnComplete}}shipcombat-deployed--done{{/if}}"
             data-token-id="{{tokenId}}">
            <img src="{{img}}" class="shipcombat-deployed-icon" />
            <span class="shipcombat-deployed-name">{{name}}</span>
            <span class="shipcombat-deployed-type"><i class="fa-solid fa-rocket"></i></span>
            <div class="shipcombat-deployed-controls">
                <button type="button" data-action="panToOrdnance" data-token-id="{{tokenId}}"
                        data-tooltip="{{localize 'SHIPCOMBAT.Ordnance.PanTo'}}">
                    <i class="fa-solid fa-eye"></i>
                </button>
                <button type="button" data-action="markOrdnanceDone" data-token-id="{{tokenId}}"
                        class="{{#if turnComplete}}active{{/if}}"
                        {{#if isLaunchTurn}}disabled data-tooltip="{{localize 'SHIPCOMBAT.Ordnance.LaunchTurnLocked'}}"{{else}}data-tooltip="{{localize 'SHIPCOMBAT.Ordnance.MarkDone'}}"{{/if}}>
                    <i class="{{#if turnComplete}}fa-solid fa-circle-check{{else}}fa-regular fa-circle{{/if}}"></i>
                </button>
            </div>
        </div>
        {{/each}}

        {{!-- Strike Craft --}}
        {{#if @root.useStrikeCraft}}
        {{#each ordnanceCtx.deployedCraft}}
        <div class="shipcombat-deployed-row shipcombat-deployed--craft {{#if turnComplete}}shipcombat-deployed--done{{/if}}"
             data-token-id="{{tokenId}}">
            <img src="{{img}}" class="shipcombat-deployed-icon" />
            <span class="shipcombat-deployed-name">{{name}}</span>
            <span class="shipcombat-deployed-type">
                <i class="fa-solid fa-jet-fighter-up"></i>
            </span>
            <div class="shipcombat-deployed-hull">
                <span>{{hull.displayValue}}/{{hull.max}}</span>
            </div>
            <div class="shipcombat-deployed-controls">
                <button type="button" data-action="panToOrdnance" data-token-id="{{tokenId}}"
                        data-tooltip="{{localize 'SHIPCOMBAT.Ordnance.PanTo'}}">
                    <i class="fa-solid fa-eye"></i>
                </button>
                <button type="button" data-action="markOrdnanceDone" data-token-id="{{tokenId}}"
                        class="{{#if turnComplete}}active{{/if}}"
                        data-tooltip="{{localize 'SHIPCOMBAT.Ordnance.MarkDone'}}">
                    <i class="{{#if turnComplete}}fa-solid fa-circle-check{{else}}fa-regular fa-circle{{/if}}"></i>
                </button>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>
