<div class="shipcombat-bda-popup-body">

    <div class="shipcombat-bda-result-header">
        <div class="shipcombat-bda-sl-value">{{localize "SHIPCOMBAT.BDA.ResultLabel"}} {{resultSL}}</div>
        <div class="shipcombat-bda-retain-desc">{{retainDesc}}</div>
    </div>

    <p class="shipcombat-bda-correction-prompt">{{localize "SHIPCOMBAT.BDA.CorrectionPrompt"}}</p>

    <div class="shipcombat-bda-corrections">
        {{#each corrections}}
        <button type="button" class="shipcombat-bda-correction-btn" data-action="selectCorrection"
                data-correction-id="{{id}}">
            <span class="shipcombat-bda-correction-name">{{labelLocalized}}</span>
            <span class="shipcombat-bda-correction-hint">{{descLocalized}}</span>
        </button>
        {{/each}}
    </div>

</div>
