<div class="sheet-header">
    <img data-action="editImage" data-edit="img" src="{{item.img}}">
    <div class="header-fields">
        <div class="details-row name">
            <input type="text" name="name" value="{{source.name}}">
        </div>
        <div class="flexrow attribute-row">
            <div class="attribute-box single">
                <div class="label" style="grid-column: 1 / span 4"><label class="centered">{{localize "SHIPCOMBAT.Component.Qty"}}</label></div>
                <div class="field" style="grid-column: 5 / span 8"><input type="number" name="system.quantity" value="{{system.quantity}}"></div>
            </div>
            <div class="attribute-box single">
                <div class="label" style="grid-column: 1 / span 4"><label class="centered">{{localize "SHIPCOMBAT.Component.Cost"}}</label></div>
                <div class="field" style="grid-column: 5 / span 8"><input type="number" name="system.cost" value="{{system.cost}}"></div>
            </div>
        </div>
        <div class="flexrow attribute-row">
            <div class="attribute-box single">
                <div class="label" style="grid-column: 1 / span 4"><label class="centered">{{localize "SHIPCOMBAT.Component.Slots"}}</label></div>
                <div class="field" style="grid-column: 5 / span 8"><input type="number" name="system.slotCount" value="{{system.slotCount}}" min="1"></div>
            </div>
            <div class="attribute-box single">
                <div class="label" style="grid-column: 1 / span 4"><label class="centered">{{localize "SHIPCOMBAT.Component.Avail"}}</label></div>
                <div class="field" style="grid-column: 5 / span 8">
                    <select name="system.availability">
                        <option value=""> - </option>
                        {{#each availabilityChoices}}
                            <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
